<span class="menu">
    <fa-icon [icon]="faBars" [matMenuTriggerFor]="menu"></fa-icon>
</span>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon><fa-icon [icon]="faUsers"></fa-icon></mat-icon>
        <span>Users</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon><fa-icon [icon]="faUserTag"></fa-icon></mat-icon>
        <span>Roles</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon><fa-icon [icon]="faTasks"></fa-icon></mat-icon>
        <span>Jobs</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
        <mat-icon><fa-icon [icon]="faCogs"></fa-icon></mat-icon>
        <span>Equipment</span>
    </button>
</mat-menu>